# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments
.venv/
env/
venv/

# VS Code / IDE
.vscode/
.idea/

# Node (if you have frontend too)
node_modules/
dist/
build/

ASLLVD/
backend/pose_dictionary.json
backend/train.csv
backend/models